<!-- <div data-alert class="alert-box">
  You've successfully logged in.
  <a href="#" class="close">&times;</a>
</div> -->
<div class="row">
    <div class="small-12 large-12 columns">
        <ul class="small-block-grid-4">
            <li>
                <div class="widget">
                  <div class="cover">
                    <img src="http://25.media.tumblr.com/d55a509993790027240311c9f611aaf8/tumblr_n0hpzpKEfE1st5lhmo1_1280.jpg" />
                  </div>
                  <img src="http://s1.cdn.ryanboylett.co.uk/generic/image_jpg_00006.jpg" class="photo" />
                  <h1>Ryan Boylett</h1>
                  <h2>Web Developer</h2>
                  <h3>Bristol, UK</h3>
                </div>
            </li>
            <% _.each(users, function(user) { %>
            <li>
                <div class="widget">
                    <div class="cover">
                        <img src="http://25.media.tumblr.com/18e25cdcdaaced3b2b8a467724720ece/tumblr_n10n1wmxiS1st5lhmo1_1280.jpg" />
                    </div>
                    <img src="<%= user.avatar_url %>" class="photo" />
                    <h1><%= user.name %></h1>
                    <h2><%= user.company %></h2>
                    <h3><%= user.location %></h3>
                    <h3 class="bio_box_1"><%= user.bio %></h3>
                    <div class="links_bottom">
                        <a target="_blank" href="<%= user.profileUrl %>">
                            <img src="/images/github_icon.png" />
                        </a>
                    </div>
                    <% if (user.hireable === 'True') { %>
                      <a href="#" class="button hire_button">For Hire!</a>
                    <% } else { %>
                      <a href="#" class="button hire_button disabled">Not for hire.</a>
                    <% } %>
                </div>
            </li>
            <% }) %>
            <li>
                <div class="widget">
                  <div class="cover">
                    <img src="http://25.media.tumblr.com/d55a509993790027240311c9f611aaf8/tumblr_n0hpzpKEfE1st5lhmo1_1280.jpg" />
                  </div>
                  <img src="http://s1.cdn.ryanboylett.co.uk/generic/image_jpg_00006.jpg" class="photo" />
                  <h1>Ryan Boylett</h1>
                  <h2>Web Developer</h2>
                  <h3>Bristol, UK</h3>
                </div>
            </li>

            <li>
                <div class="widget">
                  <div class="cover">
                    <img src="http://25.media.tumblr.com/d55a509993790027240311c9f611aaf8/tumblr_n0hpzpKEfE1st5lhmo1_1280.jpg" />
                  </div>
                  <img src="http://s1.cdn.ryanboylett.co.uk/generic/image_jpg_00006.jpg" class="photo" />
                  <h1>Ryan Boylett</h1>
                  <h2>Web Developer</h2>
                  <h3>Bristol, UK</h3>
                </div>
            </li>

            <li>
                <div class="widget">
                  <div class="cover">
                    <img src="http://25.media.tumblr.com/d55a509993790027240311c9f611aaf8/tumblr_n0hpzpKEfE1st5lhmo1_1280.jpg" />
                  </div>
                  <img src="http://s1.cdn.ryanboylett.co.uk/generic/image_jpg_00006.jpg" class="photo" />
                  <h1>Ryan Boylett</h1>
                  <h2>Web Developer</h2>
                  <h3>Bristol, UK</h3>
                </div>
            </li>

            <li>
                <div class="widget">
                  <div class="cover">
                    <img src="http://25.media.tumblr.com/d55a509993790027240311c9f611aaf8/tumblr_n0hpzpKEfE1st5lhmo1_1280.jpg" />
                  </div>
                  <img src="http://s1.cdn.ryanboylett.co.uk/generic/image_jpg_00006.jpg" class="photo" />
                  <h1>Ryan Boylett</h1>
                  <h2>Web Developer</h2>
                  <h3>Bristol, UK</h3>
                </div>
            </li>

            <li>
                <div class="widget">
                  <div class="cover">
                    <img src="http://25.media.tumblr.com/d55a509993790027240311c9f611aaf8/tumblr_n0hpzpKEfE1st5lhmo1_1280.jpg" />
                  </div>
                  <img src="http://s1.cdn.ryanboylett.co.uk/generic/image_jpg_00006.jpg" class="photo" />
                  <h1>Ryan Boylett</h1>
                  <h2>Web Developer</h2>
                  <h3>Bristol, UK</h3>
                </div>
            </li>  
        </ul>
    </div>
</div>

<div id="myProfile" class="reveal-modal small" data-reveal>
    <div class="widget">
        <div class="cover">
            <img src="http://25.media.tumblr.com/18e25cdcdaaced3b2b8a467724720ece/tumblr_n10n1wmxiS1st5lhmo1_1280.jpg" />
        </div>
        <img src="<%= user.avatar_url %>" class="photo" />
        <h1><%= user.name %></h1>
        <h2><%= user.company %></h2>
        <h3><%= user.location %></h3>
        <div class="links_bottom">
            <a target="_blank" href="<%= user.profileUrl %>">
                <img src="/images/github_icon.png" />
            </a>
        </div>
    </div>
    <!-- <h2>User Model</h2>
    <table class="table">
        <% for(key in user.toJSON() ) { %>
        <tr>
            <td><%= key %>: </td>
            <td class="boxy"><%= user[key] %></td>
        </tr>
        <% } %>
    </table> -->
    <a class="close-reveal-modal">&#215;</a>
</div>